footer.footer
	.container
		.copyright Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sequi nulla quo, aut dignissimos iste sapiente provident dolorum excepturi! Velit provident fugit ipsam illo sapiente facilis soluta, iste quos ullam.