head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title
		block title
	style @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic-ext');
	link(href="css/bootstrap/bootstrap-my.css" rel="stylesheet" type="text/css")
	link(href="css/main.css" rel="stylesheet" type="text/css")
	link(rel="icon" href="img/favicon/favicon-32.png" sizes="32x32")
	link(rel="icon" href="img/favicon/favicon-192.png" sizes="192x192")
	link(rel="apple-touch-icon-precomposed" href="img/favicon/favicon-180.png")
	meta(name="msapplication-TileImage" content="img/favicon/favicon-270.png")
	//[if lt IE 9]><p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите его.</a></p><![endif]