include mixins
include variables

doctype html
html(lang="ru")

	//HEAD
	include head
	

	body
		
		//HEADER
		include header

		//CONTENT
		.content
			block content
		
		//FOOTER
		include footer
		
		//JS
		include js