extends include/template

block title
	| Home

block content
	.container
		h1.h-one Hello, World!
		.row
			.col-md-4.col-sm-6
				.content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo accusantium error delectus recusandae enim et, illum harum incidunt debitis id. Esse magni accusamus, laborum pariatur, iusto eaque quisquam cumque similique.
			.col-md-4.col-sm-6
				.content__text Vitae nesciunt unde laborum deleniti, hic, sapiente temporibus nisi quos, at blanditiis sed eveniet inventore, commodi sequi itaque mollitia. Delectus aperiam harum deserunt consectetur doloribus placeat nostrum excepturi tempore asperiores.
			.col-md-4.col-sm-6
				.content__text At accusamus adipisci optio asperiores doloribus rerum neque quidem quaerat cum magnam quos similique culpa provident quasi obcaecati, aliquam sit, facilis excepturi ea! Delectus, quo exercitationem veniam amet eum et?
			.col-md-4.col-sm-6
				.content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo accusantium error delectus recusandae enim et, illum harum incidunt debitis id. Esse magni accusamus, laborum pariatur, iusto eaque quisquam cumque similique.
			.col-md-4.col-sm-6
				.content__text Vitae nesciunt unde laborum deleniti, hic, sapiente temporibus nisi quos, at blanditiis sed eveniet inventore, commodi sequi itaque mollitia. Delectus aperiam harum deserunt consectetur doloribus placeat nostrum excepturi tempore asperiores.
			.col-md-4.col-sm-6
				.content__text At accusamus adipisci optio asperiores doloribus rerum neque quidem quaerat cum magnam quos similique culpa provident quasi obcaecati, aliquam sit, facilis excepturi ea! Delectus, quo exercitationem veniam amet eum et?
			.col-md-4.col-sm-6
				.content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo accusantium error delectus recusandae enim et, illum harum incidunt debitis id. Esse magni accusamus, laborum pariatur, iusto eaque quisquam cumque similique.
			.col-md-4.col-sm-6
				.content__text Vitae nesciunt unde laborum deleniti, hic, sapiente temporibus nisi quos, at blanditiis sed eveniet inventore, commodi sequi itaque mollitia. Delectus aperiam harum deserunt consectetur doloribus placeat nostrum excepturi tempore asperiores.
			.col-md-4.col-sm-6
				.content__text At accusamus adipisci optio asperiores doloribus rerum neque quidem quaerat cum magnam quos similique culpa provident quasi obcaecati, aliquam sit, facilis excepturi ea! Delectus, quo exercitationem veniam amet eum et?